<button style="z-index: 99999;" id="toggleBtn" (click)="toggleAsside()" class="btn btn-default">
    <mat-icon *ngIf="isVisible == false">menu</mat-icon>
    <mat-icon *ngIf="isVisible">close</mat-icon>
</button>

<div class="row below">
    <div class="col-md-3" *ngIf="isVisible">
        <aside class="scorllable" on>
            <div class="scroller">        
                <div>
                    <div class="cont">
                        <img [src]="logo1" id="logo" alt="">
                    </div>
                    <div id="user-info">
                        <strong>{{user}}</strong>
                        <p>Admin</p>
                    </div>
                    <div class="cont">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle value="bold">
                                <mat-icon>key</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="italic">
                                <mat-icon>settings</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="underline">
                                <mat-icon>edit</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>              
                    </div>
                </div>
                <section>
                    <hr>
                </section>
                <ul>
                    <li>
                        <div class="aside-link" routerLink="dashboard">
                            <mat-icon>dashboard</mat-icon>
                            Dashboard
                        </div>
                    </li>
                    <li>
                        <div class="aside-link" routerLink="product-list">
                            <mat-icon> list_alt</mat-icon>
                            Product List
                        </div>
                    </li>
                    <li>
                        <div class="aside-link">
                            <mat-icon>shopping_cart</mat-icon>
                            Product Sales
                        </div>
                    </li>
                    <li>
                        <div class="aside-link">
                            <mat-icon> business</mat-icon>
                            Inventory
                        </div>
                    </li>
                </ul>
                <section>
                    <hr>
                </section>
                <div class="cont-block">
                    <div class="container">
                        <p>This is sample sidenav footer.</p>
                        <p>
                            <small class="text-center">
                                This is to certify that the A.T. Repair Services passes all the requirements 
                                to be an ecommerce website.
                            </small>
                        </p>
                    </div>
                    <br><br>
                </div>
            </div>
        </aside>
    </div>
    <!-- end aside -->

    <!-- body -->
    <div class="body" [ngClass]="{'col-md-9':isVisible,'col-md-12':!isVisible}">
        <router-outlet></router-outlet>
    </div>
</div>

--
