
<div class="row below">
    <div class="col-md-3" *ngIf="isVisible">
        <aside class="scrollable">
            <div>
                <div id="logo-container">
                    <div class="cont">
                        <img [src]="logo1" id="logo" alt="">
                    </div>
                    <div id="user-info">
                        <strong>{{user}}</strong>
                        <p>Admin</p>
                    </div>
                    <div class="cont">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle value="bold">
                                <mat-icon>key</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="italic">
                                <mat-icon>settings</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="underline">
                                <mat-icon>edit</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <section>
                    <hr>
                </section>
                <section>
                    <ul>
                        <li>
                            <div class="aside-link" routerLink="dashboard" [ngClass]="{'selected': linkId === 1}"
                                (click)="toggleLinks(linkId=1)">
                                <mat-icon>dashboard</mat-icon>
                                <span class="list-text"> Dashboard</span>
                            </div>
                        </li>
                        <li>
                            <div class="aside-link" routerLink="product-list" [ngClass]="{'selected': linkId === 2}"
                                (click)="toggleLinks(linkId=2)">
                                <mat-icon> list_alt</mat-icon>
                                <span class="list-text"> Product List</span>
                            </div>
                        </li>
                        <li>
                            <div class="aside-link" routerLink="product-sales" [ngClass]="{'selected': linkId === 3}"
                                (click)="toggleLinks(linkId=3)">
                                <mat-icon>shopping_cart</mat-icon>
                                <span class="list-text"> Product Sales</span>
                            </div>
                        </li>
                        <li>
                            <div class="aside-link" routerLink="inventory" [ngClass]="{'selected' : linkId === 4}"
                                (click)="toggleLinks(linkId=4)">
                                <mat-icon> business</mat-icon>
                                <span class="list-text"> Inventory</span>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="hide-on-small-screen">
                    <hr>
                </section>
                <footer class="cont-block hide-on-small-screen">
                    <div class="container">
                        <p>This is sample sidenav footer.</p>
                        <p>
                            <small class="text-center">
                                This is to certify that the A.T. Repair Services passes all the requirements
                                to be an ecommerce website.
                            </small>
                        </p>
                    </div>
                    <br><br>
                </footer>
            </div>
            <br><br>
        </aside>
    </div>
    <!-- end aside -->

    <!-- body -->
    <div class="body sidenav-item" [ngClass]="{'col-md-9':isVisible,'col-md-12':!isVisible}">
        <router-outlet></router-outlet>
    </div>
</div>