  <nav class="cont">
    <!-- toggle side bar btn -->
    <div class="sub-cont">
        <button mat-icon-button id="menu-btn" class="btn btn-sm btn-primary" aria-label="Example icon-button with menu icon">
          <mat-icon id="menu">menu</mat-icon> 
       </button>
       <span class="menu-item" style="margin-left: 10px;">
        <span id="logo"></span>
        <strong id="title">{{title}}</strong>
       </span>
    </div>

    <div class="sub-cont">
      <div class="cont" style="justify-content: space-evenly;">

        <div style="margin-right: 15px;"> 
          <button class="btn btn-sm btn-success" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button class="btn btn-sm btn-success">
            <mat-icon>list</mat-icon>
          </button>
        </div>

        <div class="">
          <button mat-fab class="btn btn-sm btn-warning">
            <mat-icon>person</mat-icon>
          </button>
          <button class="text-danger" class="btn btn-sm btn-danger">
            <mat-icon>logout</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </nav>
  