<div class="container">
    <mat-card>
        <mat-card-title>Dashboard</mat-card-title>
        <mat-card-subtitle>
            This is subtitle
        </mat-card-subtitle>
        <mat-card-content>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
            <p>
                Understanding Angular
                To understand the capabilities of the Angular framework, you need to learn about the following:

                Components
                Templates
                Directives
                Dependency injection
                The topics in this section explain these features and concepts, and how you can use them.
            </p>
        </mat-card-content>
    </mat-card>
</div>